<html>
<head><title>图书管理系统</title></head>

<body>
<center><h1>图书管理系统</h1></center>
<center><h2>按作者查询</h2></center>

<form method="get">

<input type="text" name="search">
<input type="submit" value="查询">

</form>

{% if error %}
{{error}}
{% endif %}

{% if not error %}
<table>
<tr><td>作者ID：{{ author.AuthorID }}</td></tr>
<tr><td>姓名：{{ author.Name }}</td></tr>
<tr><td>年龄：{{ author.Age }}</td></tr>
<tr><td>国籍：{{ author.Country }}</td></tr>
<tr><td>著作：</td></tr>
{% for bookname in booknames %}
	<tr><td><a href="/book/{{bookname.ISBN}}">{{ bookname.Title }}</a></td></tr>
{% endfor %}
</table>
{% endif %}

<tr><td><a href="/index/">返回首页</a></td><tr>


</body>
</html>